.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header img {
  max-width: 200px;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body footer .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer .row img {
  max-width: 200px;
}
body footer .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
